
{{>navbar/navbar-block}}
<div class="container">

    <div id="special">
  <div id="card" class="card mt-4 pl-4 align-text-center justify-content-center">
    <div id="special">
    <div  class="form-group">

      <div id="test2"></div>

      <script src="/js/index.js"></script>
     
      <p>
        <strong>ID</strong>: {{example.id}}</p>
      <p>
        <p>
          <strong>Startpoint:</strong> {{example.text}}</p>
        <p>
          <strong>Endpoint:</strong> {{example.description}}</p>


        <button id="show-button2">Display Map</button>
    </div>

  </div>
</div>
</div>
</div>
</div>
<div class="invisible">
  <label for="example-text">origin</label>
  <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder={{example.text}}
    value={{example.text}}>

  <div class="form-group">
    <label for="example-description">endpoint</label>
    <input type="text" id="example-description" class="form-control" aria-describedby="example-description" placeholder={{example.description}}
      value={{example.description}}>
  </div>
</div>
</form>
<div id="test2"></div>
<script src="/js/index.js"></script>