<div class="bg-danger">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-md-4">
      <div class="header font-weight-bold">
        <h1 class="text-center">Just Drive</h1>
      </div>
    </div>
        <div class="col-md-4">
      <button type="button" class="btn btn-primary float-right">Primary</button>
  <a href="/input"> Input Placeholder</a>
  <a href="/newpage">New Page Placeholder</a>

    </div>
  </div>
</div>

        <form class="clearfix mb-4" action="POST">
          <div class="invisible">
          <div class="form-group">
            
            <label for="example-text">Input start of trail!</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Input end of trail!</label>
            <input type="text" id="example-description" class="form-control" aria-describedby="example-description" placeholder="Enter Example Description">
          </div>
         
          <button id="submit" class="btn btn-primary float-right">Submit</button>
          </div>
        </form>
       



<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>

        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}} to {{this.description}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="test"></div>





<div class="footer bg-danger">
  <p>Footer</p>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>